# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# IDE 설정 파일
.idea/
.vscode/

# 환경설정 파일 (application.properties, application.yml 등)
src/main/resources/application.properties
src/main/resources/application.yml

# 로그 파일
*.log

# OS 관련 파일
.DS_Store
Thumbs.db

# 계정 파일
src/main/webapp/WEB-INF/jsp/common/dbconn.jsp
src/main/resources/application.properties